{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <form method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
        <div class="card">
         
          <div class="card-body">
            <form>  <h4 class="text-primary ml-4">Password</h6>
               
                <div class="row">
                  
                    <div class="col-md-6 form-group">
                      
              <div class="col-md-12">
                <label for="oldPassword">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
              </div>
              <div class="col-md-12">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
              </div>
              <div class="col-md-12">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
    
            
            </div>
            <div class="col-md-6 mt-5 pt-5">
                <div class="mt-5">
                    <button type="submit" class="btn btn-custom-color-save mr-2 mt-5 pl-4 pr-4">Yes,Sure</button>
                    <button type="button" class="btn btn-light mt-5 pl-4 pr-4">Cancel</button>
                  </div>
            </div>  

            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}