
<form method="post" id="votinglogForm" action="{% url 'votinglog_edit' votinglog_id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        {% for err in field.errors %}
        <div class="text-danger">{{ err }}</div>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        {% if mode == 'edit' %}
        <button type="submit" class="btn btn-primary">Save Changes</button>
        {% endif %}
    </div>
</form>




